.musicaporta{
    background-color: rgb(120, 95, 143);
    width: 100%;
    height: 750px;
    justify-content: center;
    display: flex;
    align-items: center;
    }
    .fotom{
    
        width: 740px;
        height:700px ;
        border: 1px solid rgba(0, 0, 0, 0.767);
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;  }
        .fotoma{
            background-color:rgb(115, 81, 146);
            width: 310px;
            height: 112px ;
            margin-top: 15px;
            margin-left: 15px;
            align-content: center;
       padding-left: 5px;
    
            }
      